<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
	<div class="container">
		<div id="tasks">
			<div>
				<h1 v-show="remaining.length">Tasks ({{ remaining.length }})</h1>

				<ul class="list-group">
					<li v-repeat="task: tasks | inProgress" class="list-group-item">
						<span v-on="dblclick: editTask(task)">{{ task.body }}</span>
						
						<button v-on="click: removeTask(task)">&#10007;</button>
						<button v-on="click: toggleCompletionState(task)">&#10004;</button>

					</li>
				</ul>
			</div>

			<form v-on="submit: addTask">
				<div class="form-group">
					<input class="form-control" placeholder="I need to..." v-model="newTask" v-el="newTask"></input>
				</div>
				<button class="btn btn-primary">Add Task</button>
				<button class="btn btn-default" v-on="click: completeAll">Complete All</button>
			</form>

			<div v-if="completions.length">
				<h1>Completed ({{ completions.length }})</h1>
				<ul class="list-group">
					<li v-repeat="task: tasks | completed" class="list-group-item">
						<span>{{ task.body }}</span>
						<button v-on="click: toggleCompletionState(task)">&#10007;</button>
					</li>
				</ul>
				<button v-on="click: archiveCompleted" class="btn btn-danger">Archive Completed</button>
			</div>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.0/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>